* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  padding-top: 90px;
  line-height: 1.7;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid pink;
  padding: 5px 10px;
  color: pink;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover,
nav a.ativo {
  color: pink;
}

  .sobre-conteudo {
  max-width: 950px;
  margin: 40px auto 80px auto;
  padding: 30px;
  text-align: justify;
  background: #0d0d0d;
  border-radius: 12px;
  
}

.sobre-conteudo h1 {
  color: pink;
  text-align: center;
  margin-bottom: 30px;
  font-size: 2.8em;
  border-bottom: 2px solid #333;
  padding-bottom: 12px;
  letter-spacing: 2px;
}

.sobre-conteudo h2 {
  color: rgb(255, 206, 214);
  margin-top: 45px;
  margin-bottom: 12px;
  font-size: 1.6em;
  padding-left: 0;
}


.sobre-conteudo h2::before {
  display: none;
}


.sobre-conteudo p {
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 14px;
}


.fundo-destaque {
  background: url('BLACKPINKfoto.jpg') center center / cover no-repeat;
  height: 420px;
  margin: 25px 0 40px 0;
  border-radius: 12px;
  border: 2px solid pink;

}

  .social-footer {
  background: transparent;
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-footer a {
  color: pink;
  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
}

.social-footer a:hover {
  color: white;
  transform: translateY(-4px);
}

