* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f8dfe8; /* rosinha clarinho */
  padding-top: 100px;
}

/* ===== NAV BAR ===== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: black;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid pink;
  padding: 5px 10px;
  color: pink;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: pink;
}

/* ===== GRID ===== */
.produtos-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.grid {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.produto {
  text-align: center;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.produto:hover {
  transform: scale(1.06);
}

/* imagem solta */
.img {
  width: 100%;
  height: 200px;
  background: #eee;     /* só pra marcar o espaço */
  border-radius: 0;     /* sem borda arredondada */
  border: none;         /* sem borda nenhuma */
  margin-bottom: 8px;
}

/* nome e preço sem card */
.nome {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}

.preco {
  font-size: 14px;
  color: #333;
}
