* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}

/* ===== HEADER ===== */
header {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000;
  position: fixed; 
  width: 100%;
  top: 0;
  border-bottom: 1px solid #000; 
  z-index: 10;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid pink; 
  padding: 5px 10px;
  color: pink;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  color: pink; 
}

/* ===== IMAGEM GRANDE ===== */
.hero {
  min-height: 200vh; /* imagem continua ao descer */
  background: url("img/image.png") center center / cover no-repeat;
  padding-top: 90px;
}

/* ===== FOOTER SEM FUNDO ===== */
.social-footer {
  background: transparent;   /* ✅ SEM PRETO */
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.social-footer a {
  color: pink;
  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
}

.social-footer a:hover {
  color: white;
  transform: translateY(-4px);
}
