* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #000;
  color: #fff;
  text-align: center;
  overflow-x: hidden;
  padding-top: 75px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  border: 2px solid pink;
  padding: 5px 10px;
  color: pink;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 22px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  transition: 0.2s;
}

nav a:hover,
nav a.ativo {
  color: pink;
}

.page-space {
  height: 120px;
}

/* Carousel */
.carousel-wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 40px 0;
  position: relative;
}

.carousel {
  display: flex;
  gap: 25px;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 8px;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.album {
  flex: 0 0 auto;
  opacity: 0.5;
  transform: scale(0.65);
  filter: blur(1px) brightness(0.8);
  transition: all 0.35s ease;
  min-width: 150px;
  cursor: pointer;
}

.album img {
  width: 100%;
  max-width: 180px;
  display: block;
  border-radius: 10px;
  border: 2px solid #ffb6d9;
  filter: drop-shadow(0 0 18px rgba(255, 182, 217, 0.4));
  transform: skewX(-3deg);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.album.active img {
  transform: scale(1.05) skewX(0deg);
  filter: drop-shadow(0 0 25px rgba(255, 182, 217, 0.6));
}


.album.active {
  opacity: 1;
  transform: scale(0.9) skewX(0deg);
  filter: none;
}

/* Setas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  color: #fff;
  padding: 8px;
  transition: color 0.2s;
}

.arrow:hover {
  color: #ffb6d9;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

h2 {
  margin-top: 18px;
  font-size: 32px;
  font-weight: 700;
  color: #ffb6d9;
  letter-spacing: 1px;
  text-transform: uppercase;
}

p {
  color: #bbb;
  font-size: 15px;
  margin-top: 6px;
}


@media (max-width: 820px) {
  .album {
    min-width: 190px;
  }

  .carousel {
    gap: 24px;
  }

  h2 {
    font-size: 22px;
  }
}
.cursor {
  position: fixed;
  width: 50px; 
  height: 50px;
  background-image: url(cursor.png);
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  filter: drop-shadow(0 0 10px #ff8ec7); 
  transition: transform 0.08s linear;
}