* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: #fff;
  padding-top: 90px;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  border-bottom: 1px solid #333;
  z-index: 999;
}

.logo {
  color: pink;
  border: 2px solid pink;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 22px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover,
nav a.ativo {
  color: pink;
}

.carousel-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 60px;
}

.carousel-container {
  width: 600px;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  gap: 30px;
  transition: transform 0.4s ease;
}

.album {
  min-width: 180px;
  opacity: 0.5;
  transform: scale(0.8);
  transition: 0.3s;
  cursor: pointer;
}

.album img {
  width: 180px;
  border-radius: 10px;
  border: 2px solid pink;
}

.album.active {
  opacity: 1;
  transform: scale(1.1);
}

.arrow {
  background: transparent;
  border: none;
  color: pink;
  font-size: 40px;
  cursor: pointer;
  padding: 0;
}

.arrow:hover {
  color: hsl(330, 100%, 84%);
  transform: scale(1.2);
}

h2 {
  margin-top: 30px;
  color: pink;
}

p {
  color: #ccc;
}

.social-footer {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  gap: 22px;
}

.social-footer a {
  color: white;
  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
}

.social-footer a:hover {
  color: pink;
  transform: translateY(-4px);
}
