* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fundo preto soft */
body {
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    padding-top: 80px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid #333;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    border: 2px solid pink;
    padding: 5px 10px;
    color: pink;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover,
nav a.ativo {
    color: pink;
}

/* TÍTULO */
.galeria-container h1 {
    text-align: center;
    font-size: 2.8em;
    color: #ffb6c9;
    margin-bottom: 30px;
}

/* GRID DE FOTOS */
.grid-fotos {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
    padding: 20px;
}

.grid-fotos img {
    width: 100%;
    border-radius: 10px;
    background: #111;
    border: 2px solid #ffb6c9;
}

/* PAGINAÇÃO */
.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.seta {
    cursor: pointer;
    font-size: 28px;
    color: #ffb6c9;
    transition: 0.3s;
}

.seta:hover {
    color: white;
    transform: translateY(-3px);
}

#contador {
    font-weight: bold;
    font-size: 18px;
}

/* FOOTER */
.social-footer {
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 25px;
    background: transparent;
}

.social-footer a {
    color: pink;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s;
}

.social-footer a:hover {
    color: white;
    transform: translateY(-3px);
}