* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  padding-top: 80px;
}

  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid pink;
  padding: 5px 10px;
  color: pink;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover,
nav a.ativo {
  color: pink;
}


.integrantes-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px 20px;
  flex-wrap: wrap;
}

.membro-card {
  width: 250px;
  background: #111;
  border: 2px solid #ffc8d7;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: .3s;
}

.membro-card:hover {
  transform: translateY(-5px);
  border-color: #ffcfdd;
}

.membro-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.membro-card h2 {
  color: #ffc8d7;
  margin-bottom: 10px;
}

.posicao {
  font-weight: bold;
  color: #ffc7d6;
  margin-bottom: 10px;
}

.descricao {
  color: #d8d8d8;
  margin-bottom: 15px;
}

  .social-footer {
  background: transparent;
  padding: 30px 0 40px 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.social-footer a {
  color: pink;
  font-size: 22px;
  transition: 0.3s;
  text-decoration: none;
}

.social-footer a:hover {
  color: white;
  transform: translateY(-4px);
}
